doctype html
head
  link(rel='shortcut icon' href='/images/logo1.ico')
  title ARMHUB
  link(href='/stylesheets/style.css' rel='stylesheet')
body
  div#logo
    img.myimg(src='/images/logo.png' alt='logo')
  div#header
    div#nav
      ul
        li.paginascelta
          a(href='/' title='HOMEPAGE') HOMEPAGE
        li
          a(href='/project' title='IL PROGETTO') IL PROGETTO
        li
          a(href='/code' title='IL CODICE') IL CODICE
        li
          a(href='/session' target='_blank' title='INTERFACCIA') PILOTAGGIO DA REMOTO

  div#section
    h1 ARM - HUB
    p
      | Questo &egrave; il sito ufficiale del gruppo ARM - HUB, composto da 5 membri, con lo scopo di creare un team di lavoro per l&apos;ideazione, lo sviluppo e la presentazione di un braccio robotico, dotato di interfaccia di comando a distanza.
      | Sfrutteremo il laboratorio di robotica del nostro istituto, il quale ci mette a disposizione stampanti 3D, macchina per il taglio laser, minuteria, atrezzature adeguate e parti HARD-WARE e SOFT-WARE necessarie per il nostro progetto.
      br
      |                     Questa attivit&agrave; si svolger&agrave; nel corso dell&apos;anno scolastico 2022/23 nelle ore di laboratorio per la materia microrobotica della classe 4^A-ROB.
    h2 I COMPONENTI DEL TEAM :
    .article
      a
        img(src='images/cotan.jpg' alt='Cotan')
      h3 Leader: Cojan Cristian
      p
        | &quot;Insieme ad Alessandro Barale mi occupo del &quot;lavoro sporco&quot; per quanto riguarda la costruzione del braccio.
        | Sono motivato dal progetto perch&egrave; finalmente possiamo confrontarci con la manualit&agrave;.
        br
        |                         La mia passione/ossessione &egrave; dedicarmi alla palestra nel tempo libero&quot;
    div.article
      a
        img(src='images/cano.jpg' alt='Cano')
      h3 Nerd: Canonico Francesco
      p
        | &quot;Sono il nerd del gruppo, mi occupo dell&apos;interfaccia lato server sul Raspberry Pi e delle fasi di stampa delle varie
        | componenti del braccio robotico.
        br
        |                         Sono appassionato di tennis&quot;
    div.article
      a
        img(src='images/barals.jpg' alt='Barals')
      h3 Tuttofare: Barale Novero Alessandro
      p
        | &quot;Mi appassiona particolarmente il lavoro manuale, infatti mi occupo di progettare i pezzi per il robot che non vengono stampanti
        | , facendo uso di viti, cacciaviti, lime...
        br
        |                         Nella vita di tutti i giorni pratico sci a livello agonistico, e porto avanti un&apos; allevamento
        |                         di polli chiamato &quot;Allevamento Cocinina&quot;
    div.article
      a
        img(src='images/zup.jpg' alt='Zuppolo')
      h3 Designer : Zup Ion Alexandru
      p
        | &quot;Sono sempre stato appassionato dal mondo del design e della moda.Un progetto come questo &egrave; un&apos;ottima opportunit&agrave; per mettere in pratica le mie conoscenze e creare qualcosa di unico&quot;
    div.article
      a
        img(src='images/tasso.jpg' alt='Tasso')
      h3 Dietro alle quinte: Tassone Leonardo
      p
        | &quot;Le mie passioni sono la musica e il calcio, tuttavia trovo interessante il progetto in corso, in quanto possiamo
        | confrontarci con la manualit&agrave;, anche se non mi sento particolarmente motivato nel realizzarlo direttamente,
        | preferisco seguire altri campi, come ad esempio il sito web ed lavorare alla progettazione "dietro alle quinte"
div#copyright
  p &copy; ARMHUB. All rights reserved.
