doctype html
head
  link(rel='shortcut icon' href='./images/logo1.ico')
  title IL PROGETTO
  link(href='/stylesheets/style.css' rel='stylesheet')
body
  #logo
    img.myimg(src='/images/logo.png' alt='logo')
  #header
    #nav
      ul
        li
          a(href='/' title='HOMEPAGE') HOMEPAGE
        li.paginascelta
          a(href='/project' title='IL PROGETTO') IL PROGETTO
        li
          a(href='/code' title='IL CODICE') IL CODICE
        li
          a(href='/session' target='_blank' title='INTERFACCIA') PILOTAGGIO DA REMOTO
  #section
    h1 IL PROGETTO
    p
      | La nostra idea nasce sulla base della consegna fornita dal docente di laboratorio di microrobotica, dopo qualche confronto abbiamo deciso di sviluppare un braccio robotico nel contesto dell&apos;auto-motive, in particolare un dispositivo incluso di gabbia di sicurezza, che abbia il compito di spostare i telai di automobili nel reparto verniciatura dell&apos;azienda.
      br
      |                     Il braccio robotico &egrave; gestito da un RaspberryPi 4.
      br
      |                     Abbiamo quindi iniziato a ideare le prime bozze per il design del nostro braccio robotizzato.
    h3 ECCO LE IDEE NEL CORSO DELLO SVILUPPO :
    p
    #article
      a
        h3 PRIMO STEP : la prima nostra idea sviluppata tramite il software Fusion 360
        img(src='/images/bozza1.jpg' alt='Bozza1')
      
      p ---
    #article
      a
        h3 SECONDO STEP : iniziare a progettare i pezzi
        img(src='/images/base.jpeg' alt='Base')
      
      p
        | il pezzo mostrato in foto &egrave; stato progettato da Francesco Canonico, e rappresenta la base del nostro braccio robotico.
        br
        | Questo pezzo verr&agrave; successivamente stampato con la stampante 3D

    #article
      a
        img(src='/images/parteBraccioNero.png' alt='unione')
      p
        | il pezzo mostrato in foto &egrave; stato progettato da Francesco Canonico, e rappresenta l'unione tra la base e il sostegno della pinza del braccio.
        br
        | Questo pezzo verr&agrave; successivamente stampato con la stampante 3D

    #article
      a
        img(src='/images/perno.png' alt='perno')
      p
        | il pezzo mostrato in foto &egrave; stato progettato da Francesco Canonico, e rappresenta il perno sopra la base su cui si appoggia il resto del braccio.
        br
        | Questo pezzo verr&agrave; successivamente stampato con la stampante 3D

    #article
      a
        img(src='/images/sopra.png' alt='sopra')
      p
        | il pezzo mostrato in foto &egrave; stato progettato da Francesco Canonico, e rappresenta il sostegno della pinza.
        br
        | Questo pezzo verr&agrave; successivamente stampato con la stampante 3D
#copyright
  p &copy; ARMHUB. All rights reserved.
